# torch>=1.4.0
timm>=0.4.12
torchvision
pyyaml
numpy

# an update version that fixes some bugs, incl issues with numpy >= 1.18
pycocotools>=2.0.2

omegaconf>=2.0

lxml==4.7.1
opencv-python==4.5.5.62
# pandas==1.3.5

albumentations==1.0.0

ensemble-boxes==1.0.8